#addToCartModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
        .modal-content
            .modal-header
                h5#addToCartModalLabel.modal-title Adding to Cart?
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                .alert#alert.alert-success.alert-dismissible(role='alert' hidden=true)
                        .li#message.text-center
                            | test
                include carts-panel
            .modal-footer
                button.btn.btn-danger(type='button' data-dismiss='modal') Close
