#shoppingCartModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
        .pt-5#spinner-div
            .spinner-border.text-primary(role='status' style="width:10rem; height: 10rem;")
        .modal-content
            .modal-header
                h5#shoppingCartModalLabel.modal-title Shopping Cart Form
                a.close(href='/shopping-checkout')
                    span(aria-hidden='true') &times;
            .modal-body
                .alert#shoppingCartModalAlert.alert-success.alert-dismissible(role='alert' hidden=true)
                        .li#message.text-center
                            | test
                include shopping-cart-form
            .modal-footer
                a.btn.btn-danger(href='/shopping-checkout') Close
