// Sidebar
ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
  // Sidebar - Brand
  a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='dashboard')
    .sidebar-brand-icon.rotate-n-15
      i.fas.fa-laugh-wink
    .sidebar-brand-text.mx-3
      | VKB Admin
      sup 1.0
  // Divider
  hr.sidebar-divider.my-0
  // Nav Item - Dashboard
  li.nav-item.active
    a.nav-link(href='dashboard')
      i.fas.fa-fw.fa-tachometer-alt
      span Dashboard
  // Divider
  hr.sidebar-divider
  // Heading
  .sidebar-heading
    | Store
  li.nav-item
    a.nav-link(href='/goods')
      i.fas.fa-fw.fa-boxes
      span Goods
  li.nav-item
    a.nav-link(href='/sales')
      i.fas.fa-fw.fa-coins
      span Sales
  li.nav-item
    a.nav-link(href='/shipping')
      i.fas.fa-fw.fa-shopping-bag
      span Shipping & Shopping
  // Divider
  hr.sidebar-divider
  // Heading
  .sidebar-heading
    | Services
  // Nav Item - Tables
  li.nav-item
    a.nav-link(href='user-accounts')
      i.fas.fa-fw.fa-users
      span User Accounts
  li.nav-item
    a.nav-link(href='/subscriptions')
      i.fas.fa-fw.fa-check-double
      span Subscriptions
  // Divider
  hr.sidebar-divider.d-none.d-md-block
  // Sidebar Toggler (Sidebar)
  .text-center.d-none.d-md-inline
    button#sidebarToggle.rounded-circle.border-0
  // Sidebar Message
  .sidebar-card.d-none.d-lg-flex
    img.sidebar-card-illustration.mb-2(src='img/undraw_rocket.svg' alt='...')
    p.text-center.mb-2
      strong V.K.B
      |  is packed with premium features, components, and more!
    a.btn.btn-success.btn-sm(href='https://startbootstrap.com/theme/sb-admin-pro') Upgrade to Pro!
// End of Sidebar
