// Sidebar
ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
  // Sidebar - Brand
  a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='dashboard')
    .sidebar-brand-icon.rotate-n-15
      i.fas.fa-laugh-wink
    .sidebar-brand-text.mx-3
      | VKB Admin
      sup 1.0
  // Divider
  hr.sidebar-divider.my-0
  // Nav Item - Dashboard
  li.nav-item.active
    a.nav-link(href='dashboard')
      i.fas.fa-fw.fa-tachometer-alt
      span Dashboard
  // Divider
  hr.sidebar-divider
  // Heading
  .sidebar-heading
    | Store(Marshy Hill)
  li.nav-item
    a.nav-link(href='/goods')
      i.fas.fa-fw.fa-boxes
      span Goods
  li.nav-item
    a.nav-link(href='/register-goods')
      i.fas.fa-fw.fa-boxes
      span New Goods
  li.nav-item
    a.nav-link(href='/checkout')
      i.fas.fa-fw.fa-shopping-bag
      span Checkout
  li.nav-item
    a.nav-link(href='/sales')
      i.fas.fa-fw.fa-coins
      span Sales
  li.nav-item
    a.nav-link(href='/shipping')
      i.fas.fa-fw.fa-shopping-bag
      span Shipping & Shopping
  // Divider
  hr.sidebar-divider
  // Heading
  .sidebar-heading
    | Services(HillTop)
  // Nav Item - Tables
  li.nav-item
    a.nav-link(href='user-accounts')
      i.fas.fa-fw.fa-users
      span User Accounts
  li.nav-item
    a.nav-link(href='register-account')
      i.fas.fa-fw.fa-user
      span New User Accounts
  li.nav-item
    a.nav-link(href='/subscriptions')
      i.fas.fa-fw.fa-check-double
      span Subscriptions
  li.nav-item
    a.nav-link(href='/service-subscription')
      i.fas.fa-fw.fa-briefcase
      span New Subscription
  // Divider
  hr.sidebar-divider.d-none.d-md-block
  // Sidebar Toggler (Sidebar)
  .text-center.d-none.d-md-inline
    button#sidebarToggle.rounded-circle.border-0
  // Sidebar Message

// End of Sidebar
