include header
// Page Wrapper
#wrapper
    include sidebar
    // Content Wrapper
    #content-wrapper.d-flex.flex-column
        // Main Content
        #content
            include topbar
            // Begin Page Content
            .container-fluid
                // Page Heading
                h1.h3.mb-2.text-gray-800
                p.mb-4.text-right
                    |
                    a.btn.btn-primary.btn-sm(href='/service-subscription') subscribe to a new service
                // DataTables Example
                .card.shadow.mb-4
                    .card-header.py-3
                        h6.m-0.font-weight-bold.text-primary Subscribed Services
                    .card-body
                        .table-responsive
                            table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                                thead
                                    tr
                                        th customer subscription ID
                                        th service type
                                        th service title
                                        th document link
                                        th price
                                        th paid amount
                                        th paid amount Date
                                        th last payment reference
                                        th subscription Date
                                        th expected delivery date
                                        th actual delivery Date
                                        th status
                                tfoot
                                    tr
                                        th customer subscription ID
                                        th service type
                                        th service title
                                        th document link
                                        th price(N)
                                        th paid amount
                                        th paid amount Date
                                        th last payment reference
                                        th subscription Date
                                        th expected delivery date
                                        th actual delivery Date
                                        th status
                                tbody
                                    tr
                                        td #1234567- Idris Idah
                                        td S.O.P
                                        td Data mining and Digital Marketing
                                        td document link
                                        td 10, 000
                                        td  6, 000
                                        td 10/03/2022
                                        td fcmb account-idris idah
                                        td 09/03/2022
                                        td 15/03/2022
                                        td ----------
                                        td initiated
                                    tr
                                        td #1234567 - Idah Eleojo
                                        td S.O.P
                                        td Data mining and Digital Marketing
                                        td document link
                                        td 10, 000
                                        td  6, 000
                                        td 10/03/2022
                                        td fcmb account-idris idah
                                        td 09/03/2022
                                        td 15/03/2022
                                        td ----------
                                        td completed
            // /.container-fluid
        // End of Main Content
        // Footer
        include footer
        // End of Footer
    // End of Content Wrapper
// End of Page Wrapper
// Scroll to Top Button
include confirm-logout
include buttom

