include header
// Page Wrapper
#wrapper
  include sidebar
  // Content Wrapper
  #content-wrapper.d-flex.flex-column
    // Main Content
    #content
      include topbar
      // Begin Page Content
      .container-fluid
        // Page Heading
        h1.h3.mb-2.text-gray-800
        p.mb-4.text-right
          |
          a.btn.btn-primary.btn-sm(href='/register-account') create new user account
        // DataTables Example
        .card.shadow.mb-4
          .card-header.py-3
            h6.m-0.font-weight-bold.text-primary User Accounts
          .card-body
            .table-responsive
              table#dataTableUsers.table.table-bordered(width='100%' cellspacing='0')
                thead
                  tr
                    th First Name
                    th Last Name
                    th Gender
                    th E-mail
                    th Phone
                    th Description
                    th Location
                    th Registered Date
                    th Action
                tfoot
                  tr
                    th First Name
                    th Last Name
                    th Gender
                    th E-mail
                    th Phone
                    th Description
                    th Location
                    th Registered Date
                    th Action
                tbody
      // /.container-fluid
    // End of Main Content
    // Footer
    include footer
    // End of Footer
  // End of Content Wrapper
// End of Page Wrapper
// Scroll to Top Button
include confirm-logout
include edit-user-modal
// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
// Core plugin JavaScript
script(src='vendor/jquery-easing/jquery.easing.min.js')
// Custom scripts for all pages
script(src='js/sb-admin-2.min.js')
// Page level plugins
script(src='vendor/datatables/jquery.dataTables.min.js')
script(src='vendor/datatables/dataTables.bootstrap4.min.js')
// Page level custom scripts
script(src='js/demo/datatables-users.js')
script(src='js/demo/editUser.js')

